<h3 style="color: darkblue">@ViewBag.Message</h3>
<br />
<h2>Categories</h2>

@foreach (var tag in ViewBag.Tags)
{
    @Html.Label("TagName", "")
    <p>@tag.TagName</p>
    <a class="btn btn-success" href="/Questions/ShowByCategory/@tag.Id">Questions</a>
    <br />
    <hr />
    <br />

}